@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Prompt&family=Roboto:wght@300&display=swap');

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    min-height: 847px;
    min-width: 1155px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1155px;
    height: 825px;
    background-color: #464646;
    border-radius: 60px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}

.top {
    font-size: 65px;
    font-family: 'Patrick Hand SC', cursive;
}

#rainbow {
    height: 65px;
    width: 65px;
    border-radius: 80px;
    opacity: 0.60;
    margin: 11px 0 0 15px;
}

#reset {
    margin: 11px 15px 0 0;
}

#reset-image {
    width: 70%;
    height: 70%;
    margin: 0 -2px 11px 0;
    transform: rotate(90deg);

}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 390px;
    margin-right: -225px;
    font-size: 20px;
    width: 1080px;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.left,
.right {
    width: 83.5px;
    height: 637.5px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 94px;
    font-size: 16px;
    line-height: 1.2;
}

.buttons {
    height: 65px;
    width: 65px;
    border-radius: 60px;
    transition: 0.1s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #a1a1a1;
}

.buttons:hover {
    transform: scale(1.05);
}

.buttons:active {
    transform: scale(1);
}

.monet-mode {
    display: none;
    height: 50px;
    width: 50px;
}

.arrow {
    height: 60%;
    width: 60%;
}

.arrow.up {
    margin-top: 10px;
    transform: rotate(-90deg);
}

.arrow.down {
    transform: rotate(90deg);
    margin-top: 14px;
}

.eraser {
    margin-top: -5px;
}

#eraser {
    width: 70%;
    height: 70%;
    margin: 8px 3px 0 0;
}

input.color-picker {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    opacity: 0;
}

input[type="color"] {
	-webkit-appearance: none;
    appearance: none;
	border: none;
}

.middle {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 637.5px;
    width: 988px;
    background-color: rgb(154, 163, 180);
    border-bottom: 1px solid rgb(165, 165, 165);
    border-right: 1px solid rgb(165, 165, 165);
}

.row-container {
    display: flex;
    flex: 1;
}

.grid-square {
    border: solid 1px rgb(177, 177, 177);
    flex: 1;
    margin: 0 -1px -1px 0;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;

    transform: rotate(270deg);
    width: 450px;
    height: 7.5px;
    margin: -727.5px -184.5px 0 0;
    border-radius: 6px;
    opacity: 0.7;
}

.slider:hover {
    opacity: 0.8;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) 
    and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #989898;
}

.slider::-moz-slider-thumb {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #989898;
}

.bottom {
    font-size: 28px;
}






.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100vw;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
    

#github {
    height: 27px;
    width: 27px;
    padding-bottom: 0.2vh;
    transition: 0.3s;
}

#github:hover {
    transform: scale(1.1);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    opacity: 0.7;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(144, 144, 144);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #494949;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: #bcbcbc;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .toggle.round {
    border-radius: 34px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }
